<form (ngSubmit)="onSubmitForm()" #signupForm="ngForm">
        
        <label>
            name:
        <input required  [(ngModel)]="class.Name" name="Name" >
            <br>
        </label>
            
        <div *ngIf="signupForm.invalid">
          the form is invalid,please insert ...
        </div>
        <br>
        <button type="submit" [disabled]="signupForm.invalid">new class</button>
        
 </form>
 <input [(ngModel)]="search" placeholder="search" name="search"><br>
  
  <div *ngFor="let n of classList | filter: search" name="divS" #div>
      class:  {{n.Name}}
     <button  (click)="Delete(n)">למחיקה</button>
  </div>
 
 
