<div>
  <h2>חפש לפי:</h2>
<label for="class" >:כיתה</label><br>
 <select [(ngModel)]="classFilter">
  <option>כל הכיתות</option>
  <option *ngFor="let c of classesList" [ngValue]="c">{{c.Name}}</option>
</select> 
<br>
<label for="subject">:מקצוע</label><br>
<select [(ngModel)]="subjectFilter">
  <option>כל המקצועות</option>
  <option *ngFor="let s of subjects" [ngValue]="s">{{s.Name}}</option>
</select> 
<br>
<label for="teacher">:מורה</label><br>
<select [(ngModel)]="techerFilter" (click)="gatAllClass">
  <option>כל המורות</option>
  <option *ngFor="let t of teacherList" [ngValue]="t">{{t.Name}}</option>
</select>
<br> 
<button (click)="search()">סנן</button>
</div>
<button (click)="showByClasses()" class="Icon element">לפי כיתות</button>
<button (click)="showByTeachers()">לפי מורות</button>
<button (click)="showBySubjects()">לפי מקצועות</button>
<div *ngIf="isShowClasses"> 
<table *ngFor="let c of classesListFilter">
    <thead>
                <th> </th>
                <th>יום ראשון</th>
                <th> יום שני</th>
                <th>יום שלישי</th>
                <th> יום רביעי</th> 
                <th>יום חמישי</th>
                <th> יום שישי</th>
    </thead>
    <tbody>
        <tr>{{c.Name}}</tr> 
        
    </tbody>
      <tr *ngFor="let h of hours"> 
          <td>{{h}}</td>
          <td *ngFor="let d of days">
          <app-show-presence [day]="getScheduleClass(d,h,c)"></app-show-presence>
          </td>
        </tr>
    
  </table>
</div>



<div *ngIf="isShowTeachers">
  <table *ngFor="let c of techerListFilter">
    <thead>
                <th> </th>
                <th>יום ראשון</th>
                <th> יום שני</th>
                <th>יום שלישי</th>
                <th> יום רביעי</th> 
                <th>יום חמישי</th>
                <th> יום שישי</th>
    </thead>
    <tbody>
        <tr>{{c.Name}}</tr> 
        
    </tbody>
      <tr *ngFor="let h of hours"> 
          <td>{{h}}</td>
          <td *ngFor="let d of days">
          <app-show-presenceByTeacher [day]="getScheduleT(d,h,c)"></app-show-presenceByTeacher>
          </td>
        </tr>
      
  </table>
  </div>
  <div *ngIf="isShowSubjects">
    
 
  <table *ngFor="let c of subjectsListFilter">
    <thead>
                <th> </th>
                <th>יום ראשון</th>
                <th> יום שני</th>
                <th>יום שלישי</th>
                <th> יום רביעי</th> 
                <th>יום חמישי</th>
                <th> יום שישי</th>
    </thead>
    <tbody>
        <tr>{{c.Name}}</tr> 
        
    </tbody>
      <tr *ngFor="let h of hours"> 
          <td>{{h}}</td>
          <td *ngFor="let d of days">
          <app-show-presenceBySubject [day]="getScheduleSubject(d,h,c)"></app-show-presenceBySubject>
          </td>
        </tr>
    
  </table> 
</div>
<!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button type="button" class="btn btn-info" (click)="Upload()" >Upload</button>
      -->