<h1> less mess</h1>

<button routerLink="/Home" routerLinkActive="activeLink" class="btn btn-outline-secondary">home</button>
 <button routerLink="/Manger" routerLinkActive="activeLink" class="btn btn-outline-primary">Manager</button> 
<button routerLink="/Presence" routerLinkActive="activeLink" class="btn btn-outline-success">Presence</button>

<button routerLink="/schedule"  routerLinkActive="activeLink" class="btn btn-outline-primary">Schedule</button>

<button routerLink="/Report"  routerLinkActive="activeLink" class="btn btn-outline-warning">Report</button>
<button routerLink="/Teacher" routerLinkActive="activeLink" class="btn btn-outline-primary">Teacher</button>
<button routerLink="/Class"  routerLinkActive="activeLink"class="btn btn-outline-success">Class</button>
<button routerLink="/Subject"  routerLinkActive="activeLink" class="btn btn-outline-info">Subject</button>
<router-outlet></router-outlet> 

