<div class="card mb-3" style="background-color: lightgray;">
    <img class="card-img-top" style="height: 150px; width: 150px;" src="../../../assets/img/logo.png"
        alt="Card image cap">
    <div class="card-body" style="text-align: center;">
        <span class="card-text">
            <div class="otto">
                <p>מערכת נוכחות </p>
                <p style="font-size: 70px;">סמינר בנות חיל</p>
                <div style="font-size: 20px;">סמינר איכותי לבנות איכותיות</div>
            </div>
            
        </span>
        <p class="card-text" style="text-align: left;"><small class="text-muted">המערכת נוצרה ע"י רות זלוף</small></p>
    </div>
</div>