<nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light shadow mb-5">
    <img  style="padding: 0;height: 50px" src="../../../assets//img/logo.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/Home" routerLinkActive="activeLink">בית <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/manager" routerLinkActive="activeLink">מנהלת</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Presence" routerLinkActive="activeLink">נוכחות</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/schedule" routerLinkActive="activeLink">מערכת</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Report" routerLinkActive="activeLink">דו"ח</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Teacher" routerLinkActive="activeLink">מורה</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Class" routerLinkActive="activeLink">כיתה</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Subject" routerLinkActive="activeLink">מקצוע</a>
            </li>
        </ul>
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->